:root {
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
}

body {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--Light-gray);
}

.card {
  width: 280px;
	background-color: var(--White);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  gap: 10px;
	padding: 12px;
	border-width: 0px;
	border-radius: 15px;
  text-align: center;
  box-shadow: 1px 1px 50px 1px var(--Grayish-blue);
}

.card img {
	border-radius: 15px;
  width: 100%;
}

.card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  gap: 20px;
	padding: 12px;
}

.card-title {
  font-weight: 700;
  color: var(--Dark-blue);
}

.card-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--Grayish-blue);
}